# Output
dist/
logs/
*.log

# Temp and caches
node_modules/
.cache/
tmp
*~

# IDE
.vscode/
.history/

# Yarn
pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
